In [1]:
import pandas as pd
import numpy as np
import more_itertools as mit

## AID Data Analysis

In [2]:
aid_data = pd.read_csv('a2019.csv',encoding='UTF-8',skipinitialspace=True)

aid_data1 = aid_data

aid_data1.columns= aid_data1.columns.str.strip()

# aid_data1 = aid_data1.dropna(subset=['c5'],how='all')

aid_data1 = aid_data1.drop(aid_data1.columns[[-1,-2]],axis=1)

# fil = aid_data1['c5'].str.contains(r'^[a-zA-Z]')

# aid_data1 = aid_data1[~fil]

aid_data1.reset_index(drop=True,inplace=True)

aid_data1['c9'] = pd.to_datetime(aid_data1['c9'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c205'] = pd.to_datetime(aid_data1['c205'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c206'] = pd.to_datetime(aid_data1['c206'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c207'] = pd.to_datetime(aid_data1['c207'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c208'] = pd.to_datetime(aid_data1['c208'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c210'] = pd.to_datetime(aid_data1['c210'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c229'] = pd.to_datetime(aid_data1['c229'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c230'] = pd.to_datetime(aid_data1['c230'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c10'] = pd.to_datetime(aid_data1['c10'].astype(str),format= '%H%M.0',errors='coerce').dt.strftime('%H:%M')

aid_data1[aid_data1.columns[79:95]] = aid_data1[aid_data1.columns[79:95]].fillna(0)

for col in aid_data1.columns[80:93].values:
    aid_data1[col] = aid_data1[col].astype('int64')

aid_data1[['c149','c151','c145']] = aid_data1[['c149','c151','c145']].fillna(0).astype(int).astype(str).replace('0','NaN')

aid_data1.rename(columns={'c9': 'Date_Of_Occurrence', 'c22': 'N_Number'}, inplace=True)

aid_data1 = aid_data1.add_suffix('_aid').rename(columns={'Report_Type_aid': 'Report_Type', 'Date_Of_Occurrence_aid': 'Date_Of_Occurrence','N_Number_aid':'N_Number'})

aid_data1.insert(0,'Report_Type','AID')
    
# aid_data1[aid_data1.columns[79:95]]

In [3]:
aid_data1

,Report_Type,c5_aid,c1_aid,c2_aid,c3_aid,c4_aid,c6_aid,c7_aid,c8_aid,Date_Of_Occurrence,...,c150_aid,c154_aid,c156_aid,c158_aid,c161_aid,c163_aid,c183_aid,c191_aid,c229_aid,c230_aid
0,AID,20191013023229A,A,91,NaN,NaN,2019,10,13,2019-10-13,...,NaN,NaN,NaN,Wheeled-Conventional,NaN,NaN,NaN,NaN,1950-07-28,NaT
1,AID,20191122023189A,A,91,NaN,NaN,2019,11,22,2019-11-22,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1967-07-29,NaT
2,AID,20191125023199I,I,91,NaN,NaN,2019,11,25,2019-11-25,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1961-12-21,NaT
3,AID,20191217023209A,A,91,NaN,NaN,2019,12,17,2019-12-17,...,POWERED,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1933-11-17,NaT
4,AID,20191218023219I,I,91,NaN,NaN,2019,12,18,2019-12-18,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,2000-02-19,2001-06-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2386,AID,20191109023169A,A,91,NaN,NaN,2019,11,9,2019-11-09,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,NaT,NaT
2387,AID,20191108023179A,A,91,NaN,NaN,2019,11,8,2019-11-08,...,POWERED,NaN,NaN,Wheeled-Conventional,NaN,NaN,NaN,NaN,1967-01-14,NaT
2388,AID,20190928023159I,I,121,NaN,NaN,2019,9,28,2019-09-28,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1991-02-07,1965-05-01
2389,AID,20191003023139A,A,91,NaN,NaN,2019,10,3,2019-10-03,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1963-04-29,NaT
2390,AID,20191022023142I,I,91,NaN,NaN,2019,10,22,2019-10-22,...,NaN,NaN,NaN,Wheeled-Tricycle,NaN,NaN,NaN,NaN,1995-10-08,NaT

In [6]:
#aid_data1.c151

In [7]:
aid_data1.to_csv('a2019_Clean.csv', index=False)

## SDR Data Analysis

In [8]:
sdr_data = pd.read_csv('sdr(2019_Occurred_Incidents).csv',encoding='UTF-8',skipinitialspace=True,dtype=str)
sdr_data1 = sdr_data

sdr_data1 = sdr_data1.dropna(subset=['c25'],how='all')

sdr_data1 = sdr_data1.drop(sdr_data1.columns[[-1,-2,-3,0]],axis=1)
sdr_data1.columns= sdr_data1.columns.str.strip()

sdr_data1['c10'] = pd.to_datetime(sdr_data1['c10'].astype(str), format='%Y%m%d',errors='coerce')
sdr_data1['c25'] = pd.to_datetime(sdr_data1['c25'].astype(str), format='%Y%m%d',errors='coerce')

sdr_data1['Remarks'] = sdr_data1[['c510a','c510b','c510c','c510d','c510e','c510f']].fillna('').agg(''.join, axis=1)

sdr_data1['Remarks']= sdr_data1['Remarks'].str.strip().str.replace('\s+', ' ', regex=True)

sdr_data1.drop(['c510a', 'c510b','c510c','c510d','c510e','c510f'], axis=1, inplace=True)

sdr_data1.rename(columns={'c25': 'Date_Of_Occurrence', 'c390': 'N_Number'}, inplace=True)

sdr_data1 = sdr_data1.add_suffix('_sdr').rename(columns={'Report_Type_sdr': 'Report_Type', 'Date_Of_Occurrence_sdr': 'Date_Of_Occurrence','N_Number_sdr':'N_Number','Remarks_sdr':'Remarks'})

sdr_data1.insert(0,'Report_Type','SDR')

sdr_data1.head(5)

,Report_Type,c10_sdr,c12_sdr,c14_sdr,c15_sdr,c16_sdr,c17_sdr,c18_sdr,c20_sdr,Date_Of_Occurrence,...,c610_sdr,c612_sdr,c614_sdr,c616_sdr,c620_sdr,c640_sdr,c652_sdr,c654_sdr,c660_sdr,Remarks
0,SDR,2019-09-06,NaN,NM,2019,9,6,.FDEA201904040764,1,2019-04-04,...,4F,NaN,NaN,RT,A22WE,NaN,NaN,NaN,NaN,FLOOR BOARD SUPPORT CORRODED @ STA. 6-70 CENTE...
1,SDR,2019-11-18,NaN,NE,2019,11,18,11FA2019070100001,2,2019-05-23,...,4F,4,F,RT,A00014WI,E00073EN,NaN,NaN,NaN,ITT SPIKE NR 2 ENGINE EXCEEDED REDLINE. ENGINE...
2,SDR,2019-11-18,NaN,CE,2019,11,18,11FA2019070100002,1,2019-05-20,...,4F,4,F,RT,A00014WI,E00073EN,NaN,NaN,NaN,ITT SPIKE IN THE CLIMB FOR UNKNOWN REASONS. MA...
3,SDR,2020-03-24,NaN,NM,2020,3,24,120B201911200001,1,2019-11-18,...,4F,NaN,NaN,RT,A1NM,NaN,NaN,NaN,NaN,RH ENGINE FIRE LOOP 1 DISPLAYED ON EICAS ON PR...
4,SDR,2020-06-02,NaN,NM,2020,6,2,120B201912240002,1,2019-12-23,...,4F,NaN,NaN,RT,A1NM,NaN,NaN,NaN,NaN,FUEL QUANTITY SYSTEM DISPLAYED ON PREFLIGHT EI...

In [10]:
sdr_data1['Remarks'].loc[3000]

'AIRCRAFT WAS GROUNDED: IMMEDIATELY AFTER TAKE OFF AND THOUGHT THE REMINDER OF THE CAPTAINS SIDE NAV DISPLAY AND PRIMARYFLIGHT DISPLAY WOULD JUMP. OR SHAKE LEFT AND RIGHT WHILE IN A RUN MOVEMENT WAS ABOUT 1/2 TO 1 INCH EACH DIRECTION EMANATING FROM AIRCRAFT SYMBOL WHICH REMAINED STATIONARY, OUT TO THE HEADING BUG AND HEADING SYMBOL AS WELL AS THE TRACK LINEAND THE IMAGES THAT WERE DISPLAYED ON THE NAV MAP. ALL OTHER INDICATIONS ON THE NAV DISPLAY LIKE WX RADAR INFO RND-ANP, TRK MAG , GS GROUND SPEED, TAS RANGE WAY POINT INFOR REMAIND STATIONARY. THE LARGEST MOVEMENT WAS NOTICEABLE THE FURTHER TO THE TOP OF THE DISPLAY THINGS WERE DISPLAYED ONE IN LEVEL FLIGHT. THERE WAS STILL SLIGHT MOVEMENT OF THE MAP ON'

In [11]:
sdr_data1.shape

(61009, 80)

In [12]:
sdr_data1['Date_Of_Occurrence'].isnull().sum()

0

In [13]:
sdr_data1.to_csv('sdr2019_Clean.csv', index=False)

## E-File AID Data Analysis

In [14]:
e_aid_data = pd.read_csv('e2019(possible).csv',encoding='UTF-8',skipinitialspace=True)

e_aid_data1= e_aid_data

e_aid_data1 = e_aid_data1.dropna(subset=['c5'],how='all')

e_aid_data1['remark'] = e_aid_data1[['remark','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9']].replace('?','').fillna('').agg(' '.join, axis=1)
e_aid_data1 = e_aid_data1.drop(e_aid_data1.columns[[2,3,4,5,6,7,8,9]],axis=1)

e_aid_data1.reset_index(drop=True,inplace=True)

e_aid_data1['remark']= e_aid_data1['remark'].replace(r'^\s*$', np.nan, regex=True)

e_aid_data1['remark']= e_aid_data1['remark'].mask(pd.isnull, e_aid_data1['c5'])

fill = e_aid_data1['c5'].str.contains(r'^\b2019')

e_aid_data1['c5'][fill==False] = np.nan

q=[index for index, row in e_aid_data1.iterrows() if row.isnull().any()]

q=[list(group) for group in mit.consecutive_groups(q)]

for i in q:
    t=''
    s=i[0]
    for j in i:
        t+=(e_aid_data1.iloc[j]['remark'])
        t+=' '
    e_aid_data1.iloc[s-1]['remark']+=t
        
e_aid_data1 = e_aid_data1[pd.notnull(e_aid_data1['c5'])]

e_aid_data1.reset_index(drop=True,inplace=True)

e_aid_data1.rename(columns={'c5':'c5_aid','remark': 'Remarks'},inplace=True)

e_aid_data1['Remarks'] = e_aid_data1['Remarks'].str.replace('\^PRIVACY DATA OMITTED\^', '').str.strip().str.replace('\s+', ' ', regex=True)

# e_aid_data1 = e_aid_data1.add_suffix('_aid')

e_aid_data1.insert(0,'Report_Type','AID')

e_aid_data1

<ipython-input-14-7bb718b0e409>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e_aid_data1['remark'] = e_aid_data1[['remark','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9']].replace('?','').fillna('').agg(' '.join, axis=1)

,Report_Type,c5_aid,Remarks
0,AID,20190101007219I,DURING APPROACH TO STUART WITHAM AIRPORT THE A...
1,AID,20190101007229I,THE ONLY INFORMATION PROVIDED BY AIRMAN WAS TH...
2,AID,20190101008169I,"ON DEPARTURE ROLL FROM PORT EADS GRASS STRIP, ..."
3,AID,20190101016219I,"VENICE, FL. N241EE, BE35 LANDED ON RUNWAY 23 A..."
4,AID,20190102000019A,1/2/19 AT 1045 EST. N772MG AN R44 HELICOPTER C...
...,...,...,...
2403,AID,20191231019739I,PILOT WAS IN THE TRAFFIC PATTERN FOR THE CREST...
2404,AID,20191231019749I,PILOT WAS CONDUCTING A FAR PART 91 TRIP TO MCC...
2405,AID,20191231019759A,PILOT UTILIZING PRIVATE MOWED STRIP TO PRACTIC...
2406,AID,20191231020669A,THE PILOT WITH 3 PASSENGERS INITIATED A TAKEOF...
2407,AID,20191231022339A,AIRCRAFT EXPERIENCED POWER LOSS WHILE FLYING A...

In [17]:
e_aid_data1['Remarks'].loc[1]

'THE ONLY INFORMATION PROVIDED BY AIRMAN WAS THAT RUNWAY 18 WAS SOFT AND THAT ON HIS TAKEOFF CLIMB THE AIRCRAFT STRUCK THE TOP OF SOME TREES.'

In [18]:
e_aid_data1.to_csv('e2019(possible)_Clean.csv', index=False)

## EON Data Analysis

In [19]:
eon_data = pd.read_csv('EON-2019(Jan-Mar).csv',encoding='UTF-8',skipinitialspace=True)
eon_data1 = eon_data
eon_data1.columns= eon_data1.columns.str.strip()

eon_data1['Event Date'] = pd.to_datetime(eon_data1['Event Date'])
eon_data1['Event Time'] = eon_data1['Event Date'].dt.strftime('%H:%M')
eon_data1['Event Date'] = eon_data1['Event Date'].dt.strftime('%Y-%m-%d')

cols = eon_data1.columns.tolist()
cols = cols[0:5]+cols[-1:]+cols[5:36]
eon_data1 = eon_data1[cols]

eon_data1['Message Whole'] = eon_data1[['MessageText','MessageText.1','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35']].fillna('').agg(' '.join, axis=1)

eon_data1['Message Whole'] = eon_data1['Message Whole'].str.strip().str.replace('\s+', ' ', regex=True)

eon_data1.rename(columns={'Message Whole': 'Remarks','Event Date': 'Date_Of_Occurrence'},inplace=True)

cols1 = eon_data1.columns.tolist()
cols1 = cols1[0:28] + cols1[-1:]

eon_data1 = eon_data1[cols1]

eon_data1['N_Number'] = eon_data1['Title'].str.extract(r'((?<=\|).+?(?=\|))')

eon_data1['N_Number'] = eon_data1['N_Number'].str.strip()

eon_data1['N_Number'] = eon_data1['N_Number'].apply(lambda x : x[1:] if str(x).startswith("N") else x)

eon_data1.insert(0,'Report_Type','EON')

eon_data1.drop(['Title'], axis=1, inplace=True)

<ipython-input-19-f15d4853fc97>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eon_data1['Message Whole'] = eon_data1[['MessageText','MessageText.1','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35']].fillna('').agg(' '.join, axis=1)
<ipython-input-19-f15d4853fc97>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eon_data1['Message Whole'] = eon_data1['Message Whole'].str.strip().str.replace('\s+', ' ', regex=True)
E:\Softwares\Anaconda\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
eon_data1.head(10)

,Report_Type,Id,Description,Event Type,Date_Of_Occurrence,Event Time,Reported By,Received Date,Latitude,Longitude,...,Injury Type,Injuries Minor,Injuries Serious,Fatalities,Injuries Unknown,Uninjured,POB Unknown,Damage Type,Remarks,N_Number
0,EON,554891,NaN,MEDICAL EMERGENCY - PASSENGER,2019-01-01,02:01,NaN,NaN,37.618805,-122.375420,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"SAN FRANCISCO, CA (SFO) , A320, SFODECLARED A ...",ASA1305
1,EON,554892,NaN,GENERAL AVIATION OCCURRENCE,2019-01-01,02:38,NaN,NaN,38.509693,-122.812889,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"SANTA ROSA, CA (STS) C182, STSLANDED WITHOUT I...",9118C
2,EON,554894,NaN,GENERAL AVIATION OCCURRENCE,2019-01-01,03:15,NaN,NaN,40.850113,-74.060837,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"TETERBORO, NJ (TEB) CL60, DIVERTED TO TEB AND ...",613PJ
3,EON,554895,NaN,LASER EVENT,2019-01-01,03:26,NaN,NaN,46.264694,-119.119026,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"PASCO, WA (PSC) C172, WAS ILLUMINATED BY A GRE...",4203P
4,EON,554908,NaN,AIR CARRIER OR TAXI OCCURRENCE,2019-01-01,11:25,NaN,NaN,42.212444,-83.353386,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"DETROIT, MI (DTW) , A320, DTW-DFW, ABORTED TAK...",KS8618
5,EON,554909,NaN,MEDICAL EMERGENCY - PASSENGER,2019-01-01,11:54,NaN,NaN,38.947445,-77.459946,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"WASHINGTON, DC (IAD) , E175, RIC-IAD, LANDED A...",ASH6370
6,EON,554910,NaN,BIRD/WILDLIFE STRIKE,2019-01-01,12:36,NaN,NaN,41.338470,-75.723389,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"WILKES-BARRE/SCRANTON, PA (AVP) , E145, AVP-OR...",ENY3342
7,EON,554925,NaN,UAS/DRONE INCIDENT,2019-01-01,15:55,NaN,NaN,26.715342,-80.053375,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"WEST PALM BEACH, FL LJ45, REPORTED SEEING A YE...",450HA
8,EON,554926,NaN,MEDICAL EMERGENCY - PASSENGER,2019-01-01,16:21,NaN,NaN,39.175728,-76.668991,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"BALTIMORE, MD (BWI) , A321, BOS-MCO, DIVERTED ...",JBU2451
9,EON,554927,NaN,MEDICAL EMERGENCY - PASSENGER,2019-01-01,16:32,NaN,NaN,18.439398,-66.002136,...,Unknown,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"SAN JUAN, PUERTO RICO (SJU) , B739, LANDED AFT...",DAL2474

In [22]:
# eon_data1['N-Number'].isna().sum()

# eon_obj = eon_data1.select_dtypes('object')

# eon_obj

#eon_data1['Title'].loc[1]

In [23]:
eon_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Report_Type         9723 non-null   object
 1   Id                  9723 non-null   int64
 2   Description         0 non-null      float64
 3   Event Type          9723 non-null   object
 4   Date_Of_Occurrence  9723 non-null   object
 5   Event Time          9723 non-null   object
 6   Reported By         0 non-null      float64
 7   Received Date       0 non-null      float64
 8   Latitude            9718 non-null   float64
 9   Longitude           9718 non-null   float64
 10  City                9667 non-null   object
 11  State               9645 non-null   object
 12  Airport             8765 non-null   object
 13  Region              9723 non-null   object
 14  Reporting Facility  9657 non-null   object
 15  Aircraft Type       9322 non-null   object
 16  Departure           2474 non-null   object
 17  Arrival             2556 non-null   object
 18  Diverted To         597 non-null    object
 19  POB                 706 non-null    object
 20  Injury Type         9520 non-null   object
 21  Injuries Minor      33 non-null     object
 22  Injuries Serious    70 non-null     object
 23  Fatalities          75 non-null     object
 24  Injuries Unknown    74 non-null     object
 25  Uninjured           64 non-null     object
 26  POB Unknown         4586 non-null   object
 27  Damage Type         9519 non-null   object
 28  Remarks             9723 non-null   object
 29  N_Number            9543 non-null   object
dtypes: float64(5), int64(1), object(24)
memory usage: 2.2+ MB

In [24]:
eon_data1.to_csv('EON-2019(Jan-Mar)_Clean.csv', index=False)

## Merging Process(in Progress)

In [25]:
merged_aid_sdr = aid_data1.append(sdr_data1,sort=False)

In [26]:
merged_aid_sdr

,Report_Type,c5_aid,c1_aid,c2_aid,c3_aid,c4_aid,c6_aid,c7_aid,c8_aid,Date_Of_Occurrence,...,c610_sdr,c612_sdr,c614_sdr,c616_sdr,c620_sdr,c640_sdr,c652_sdr,c654_sdr,c660_sdr,Remarks
0,AID,20191013023229A,A,91,NaN,NaN,2019.0,10.0,13.0,2019-10-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AID,20191122023189A,A,91,NaN,NaN,2019.0,11.0,22.0,2019-11-22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AID,20191125023199I,I,91,NaN,NaN,2019.0,11.0,25.0,2019-11-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AID,20191217023209A,A,91,NaN,NaN,2019.0,12.0,17.0,2019-12-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AID,20191218023219I,I,91,NaN,NaN,2019.0,12.0,18.0,2019-12-18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61007,SDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-22,...,3O,3,O,NaN,H11NM,E295,NaN,NaN,NaN,CUSTOMER REPORTED CARBURETOR AIR TEMPERATURE G...
61008,SDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-03,...,3O,3,O,NaN,H11NM,1.00E+04,NaN,NaN,NaN,CUSTOMER REPORTED DUAL TACHOMETER P/N: C792-4 ...
61009,SDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-27,...,3O,3,O,NaN,H11NM,E295,NaN,NaN,NaN,CUSTOMER REPORTED ACTUATOR ASSEMBLY P/N: C051-...
61010,SDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-14,...,3O,3,O,NaN,H11NM,1.00E+04,NaN,NaN,NaN,CUSTOMER REPORTED V-BELT SET P/N: A190-3 SNAPPED.
61011,SDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-18,...,3O,3,O,NaN,H10WE,E286,NaN,NaN,NaN,CUSTOMER REPORTED DUAL TACHOMETER P/N: A792-4R...

In [27]:
merged_eon_eaid = eon_data1.append(e_aid_data1,sort=False)

In [28]:
merged_eon_eaid

,Report_Type,Id,Description,Event Type,Date_Of_Occurrence,Event Time,Reported By,Received Date,Latitude,Longitude,...,Injuries Minor,Injuries Serious,Fatalities,Injuries Unknown,Uninjured,POB Unknown,Damage Type,Remarks,N_Number,c5_aid
0,EON,554891.0,NaN,MEDICAL EMERGENCY - PASSENGER,2019-01-01,02:01,NaN,NaN,37.618805,-122.375420,...,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"SAN FRANCISCO, CA (SFO) , A320, SFODECLARED A ...",ASA1305,NaN
1,EON,554892.0,NaN,GENERAL AVIATION OCCURRENCE,2019-01-01,02:38,NaN,NaN,38.509693,-122.812889,...,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"SANTA ROSA, CA (STS) C182, STSLANDED WITHOUT I...",9118C,NaN
2,EON,554894.0,NaN,GENERAL AVIATION OCCURRENCE,2019-01-01,03:15,NaN,NaN,40.850113,-74.060837,...,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"TETERBORO, NJ (TEB) CL60, DIVERTED TO TEB AND ...",613PJ,NaN
3,EON,554895.0,NaN,LASER EVENT,2019-01-01,03:26,NaN,NaN,46.264694,-119.119026,...,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"PASCO, WA (PSC) C172, WAS ILLUMINATED BY A GRE...",4203P,NaN
4,EON,554908.0,NaN,AIR CARRIER OR TAXI OCCURRENCE,2019-01-01,11:25,NaN,NaN,42.212444,-83.353386,...,NaN,NaN,NaN,NaN,NaN,0,Not Reported,"DETROIT, MI (DTW) , A320, DTW-DFW, ABORTED TAK...",KS8618,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,AID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PILOT WAS IN THE TRAFFIC PATTERN FOR THE CREST...,NaN,20191231019739I
2404,AID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PILOT WAS CONDUCTING A FAR PART 91 TRIP TO MCC...,NaN,20191231019749I
2405,AID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PILOT UTILIZING PRIVATE MOWED STRIP TO PRACTIC...,NaN,20191231019759A
2406,AID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,THE PILOT WITH 3 PASSENGERS INITIATED A TAKEOF...,NaN,20191231020669A
2407,AID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIRCRAFT EXPERIENCED POWER LOSS WHILE FLYING A...,NaN,20191231022339A

In [29]:
merged_total = merged_aid_sdr.append(merged_eon_eaid,sort=False)

In [30]:
merged_total

,Report_Type,c5_aid,c1_aid,c2_aid,c3_aid,c4_aid,c6_aid,c7_aid,c8_aid,Date_Of_Occurrence,...,Diverted To,POB,Injury Type,Injuries Minor,Injuries Serious,Fatalities,Injuries Unknown,Uninjured,POB Unknown,Damage Type
0,AID,20191013023229A,A,91,NaN,NaN,2019.0,10.0,13.0,2019-10-13 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AID,20191122023189A,A,91,NaN,NaN,2019.0,11.0,22.0,2019-11-22 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AID,20191125023199I,I,91,NaN,NaN,2019.0,11.0,25.0,2019-11-25 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AID,20191217023209A,A,91,NaN,NaN,2019.0,12.0,17.0,2019-12-17 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AID,20191218023219I,I,91,NaN,NaN,2019.0,12.0,18.0,2019-12-18 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,AID,20191231019739I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2404,AID,20191231019749I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2405,AID,20191231019759A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2406,AID,20191231020669A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2407,AID,20191231022339A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
merged_total.reset_index(drop=True,inplace=True)

## Natural Language Processing

In [32]:
aid_data1_a = aid_data1[['Report_Type','c5_aid']]

In [33]:
aid_data1_a.shape

(2391, 2)

In [34]:
e_aid_data1.shape

(2408, 3)

In [35]:
aid_data1_nlp = pd.merge(aid_data1_a, e_aid_data1, how="outer", on=["Report_Type", "c5_aid"], validate="one_to_many")

aid_data1_nlp = aid_data1_nlp[['Report_Type','Remarks']]

aid_data1_nlp

     Report_Type                                            Remarks
0            AID  THE PILOT OBTAINED LOCAL AUTOMATED WEATHER REP...
1            AID  DEPARTED TRL FOR FLIGHT TO GLADEWATER. CLIMBED...
2            AID  ON NOVEMBER 25, 2019, AT APPROXIMATELY 1130 EA...
3            AID  THE PILOT/OWNER WAS INTENDING TO MAKE A SHORT ...
4            AID  A PORTION OF THE PROPELLER SEPARATED FROM AIRC...
...          ...                                                ...
2403         AID  ON MONDAY, MAY 13, 2019 AT APPROXIMATELY 1221 ...
2404         AID  ON JUNE 1, 2019, ABOUT 2030 CENTRAL STANDARD T...
2405         AID  WHILE ON APPROACH TO LANDING, N72LB, A LINSTRA...
2406         AID  PILOT FAILED TO MAINTAIN DIRECTIONAL CONTROL O...
2407         AID  ON JULY 20, 2019, N13YZ BEECHCRAFT A36 SERIAL ...

[2408 rows x 2 columns]

In [36]:
aid_data1_nlp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2408 entries, 0 to 2407
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Report_Type  2408 non-null   object
 1   Remarks      2408 non-null   object
dtypes: object(2)
memory usage: 56.4+ KB

In [37]:
# aid_data1_nlp.to_csv('a_2019(NLP).csv', index=False)

In [38]:
sdr_data1_nlp = sdr_data1[['Report_Type','Remarks']]

eon_data1_nlp = eon_data1[['Report_Type','Remarks']]

In [39]:
aid_sdr_eon_nlp = aid_data1_nlp.append([sdr_data1_nlp, eon_data1_nlp])

aid_sdr_eon_nlp.reset_index(drop=True,inplace=True)

aid_sdr_eon_nlp.columns = aid_sdr_eon_nlp.columns.str.strip().str.replace('\s+', ' ', regex=True)

aid_sdr_eon_nlp

      Report_Type                                            Remarks
0             AID  THE PILOT OBTAINED LOCAL AUTOMATED WEATHER REP...
1             AID  DEPARTED TRL FOR FLIGHT TO GLADEWATER. CLIMBED...
2             AID  ON NOVEMBER 25, 2019, AT APPROXIMATELY 1130 EA...
3             AID  THE PILOT/OWNER WAS INTENDING TO MAKE A SHORT ...
4             AID  A PORTION OF THE PROPELLER SEPARATED FROM AIRC...
...           ...                                                ...
73135         EON  NEWPORT NEWS, VA EVIATION REPORTED BY ORF WHEN...
73136         EON  ST CLOUD, MN (STC) EVIATION REPORTED BY ZMP WH...
73137         EON  CASA GRANDE, AZ (CGZ) EVIATION REPORTED BY ZAB...
73138         EON  SAN DIEGO, CA (SAN) EVIATION REPORTED BY SCT W...
73139         EON             COLDFOOT, AK AIRBUS EC130, LATE REPORT

[73140 rows x 2 columns]